{%extends "base.html"%}
{% load socialaccount %}
{% load static %}

{%block title%}
    {%if user.is_authenticated %}
        {{user.username}}'s Notes
    {%else%}    
        Notes Application
    {%endif%}
{%endblock%}

{%block styling%}
body, html {
    height: 100%;
  }
    .bg {
        background-image: url({%static 'main/images/desktop.jpg'%});
        height: 100%; 
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity : 0.9
    }
{%endblock%}

{%block content%}
<div class="bg d-flex align-items-center justify-content-center">
    <h1>Notes Lord </h1>
</div>
{%endblock%}